In [86]:
import pandas as pd

In [87]:
import re

In [157]:
fname = "HNX Historical Data.csv"
fpath = "./"

In [158]:
df = pd.read_csv(fpath+fname)

In [159]:
df.head(5)

           Date   Price    Open    High     Low    Vol. Change %
0  May 08, 2020  110.02  108.31  110.79  107.20  62.01K    1.58%
1  May 07, 2020  108.31  106.65  108.36  106.58  37.46K    1.55%
2  May 06, 2020  106.66  105.37  106.66  104.78  51.29K    1.19%
3  May 05, 2020  105.41  105.68  106.15  105.11  26.21K   -0.29%
4  May 04, 2020  105.72  106.84  106.87  105.49  40.34K   -1.05%

In [146]:
df = df.rename(columns = {"Date": "tradeDate", "Open" : "OpenPrice"})

In [147]:
df["Vol."] = df["Vol."].str.replace(r'-', '-1')

In [ ]:
for i in range(len(df["Vol."])):
    d = df["Vol."][i]
    if d[-1:] == 'K':
        d = float(d[:-1])
        d *= 1000
    elif d[-1] == 'M':
        d = float(d[:-1])
        d *= 1000000
    df["Vol."][i] = d

In [149]:
for i in df["Vol."]:
    if type(i) != float:
        print(i)

In [150]:
df["Change %"] = df["Change %"].str.replace(r'%', '')

In [144]:
df.describe()

             Price         Open         High          Low
count  3608.000000  3608.000000  3608.000000  3608.000000
mean    122.385751   122.506375   123.964994   120.954606
std      71.157482    71.341244    72.783283    69.956581
min      50.660000    50.630000    50.890000    50.320000
25%      80.222500    80.140000    80.677500    79.625000
50%     101.575000   101.435000   102.415000   100.390000
75%     135.412500   135.340000   137.005000   133.530000
max     459.360000   464.790000   470.190000   451.170000

In [152]:
df.to_csv(fpath + fname[:-4] + " edited.csv", index=False)