In [1]:
import pandas as pd

In [2]:
import re

In [16]:
fname = "VN Historical Data.csv"
fpath = "./"

In [45]:
df = pd.read_csv(fpath+fname, thousands=',')

In [46]:
df.head(5)

           Date   Price    Open    High     Low     Vol. Change %
0  May 08, 2020  813.73  800.32  825.72  800.20  371.34K    2.16%
1  May 07, 2020  796.54  785.08  796.54  785.08  240.80K    1.78%
2  May 06, 2020  782.59  767.30  782.59  765.37  272.45K    2.41%
3  May 05, 2020  764.16  763.22  767.03  760.04  212.38K    0.22%
4  May 04, 2020  762.47  766.14  769.73  761.64  285.57K   -0.86%

In [47]:
df = df.rename(columns = {"Date": "tradeDate", "Open" : "OpenPrice"})

In [48]:
df["Vol."] = df["Vol."].str.replace(r'-', '-1')

In [49]:
for i in range(len(df["Vol."])):
    d = df["Vol."][i]
    if d[-1:] == 'K':
        d = float(d[:-1])
        d *= 1000
    elif d[-1] == 'M':
        d = float(d[:-1])
        d *= 1000000
    df["Vol."][i] = d

C:\Users\ducviet00\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [50]:
for i in df["Vol."]:
    if type(i) != float:
        print(i)

-1
-1
-1
-1
-1
-1
-1

In [51]:
df["Change %"] = df["Change %"].str.replace(r'%', '')

In [52]:
df['Vol.'][3309]

13290.0

In [55]:
df.to_csv(fpath + "VNIndex" + ".csv", sep=';', index=False)